<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Lista Cadastrada

                        <div class="btn-group btn-group-sm pull-right">
                            <a href="/dashboard/newsletter/generate-list" class="btn btn-info" download>
                                <i class="fa fa-download"></i> Baixar Lista
                            </a>
                            <button class="btn btn-success" @click="ready">
                                <i class="fa fa-refresh"></i> Atualizar
                            </button>
                        </div>
                    </h3>
                </div>
                <div class="panel-body table-responsive" id="manage-newsletter">
                    <table class="table table-stripped" id="manage-newsletter-table">
                        <thead>
                        <tr>
                            <th>
                                <a href="#" @click.prevent="setOrderBy('id')">
                                    Id
                                    <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'id' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'id' && !orderBy.type}"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" @click.prevent="setOrderBy('name')">
                                    Nome Completo
                                    <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'name' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'name' && !orderBy.type}"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" @click.prevent="setOrderBy('phone')">
                                    Telefone
                                    <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'phone' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'phone' && !orderBy.type}"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" @click.prevent="setOrderBy('email')">
                                    E-mail
                                    <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'email' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'email' && !orderBy.type}"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" @click.prevent="setOrderBy('status')">
                                    Status
                                    <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'status' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'status' && !orderBy.type}"></span>
                                </a>
                            </th>
                            <th>Opções</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in listFiltered">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.email }}</td>
                            <td>
                                <span class="label" :class="{
                                     'label-info': item.not_formatted.status === 'waiting',
                                     'label-success': item.not_formatted.status === 'active',
                                     'label-error': item.not_formatted.status === 'cancel'}">
                                   {{ item.status }}
                                </span>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-danger" @click="trash($event,item,index)">
                                        <i class="fa fa-trash"></i> Excluir
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr style="display: none;" class="bg-info text-center">
                            <td colspan="6">
                                <p style="text-align: center"> Não existem emails cadastrados. </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "manager-newsletter",

        data() {
            return {
                list: [],
                orderBy: {
                    key: 'name',
                    type: true
                },
                dataTable: {
                    fields: [
                        {key: 'id', label: '#', sortable: true},
                        {key: 'name', label: 'Nome Completo', sortable: true},
                        {key: 'phone', label: 'Telefone', sortable: true},
                        {key: 'email', label: 'Email', sortable: true},
                        {key: 'status', label: 'Status', sortable: true},
                        {key: 'options', label: '<Opções>'}
                    ],
                    currentPage: 1,
                    perPage: 5,
                    totalRows: list.length,
                    pageOptions: [ 5, 10, 15 ],
                    sortBy: null,
                    sortDesc: false,
                    filter: null
                }
            }
        },

        computed: {
            listFiltered() {
                return _.orderBy(this.list, this.orderBy.key, this.orderBy.type ? 'asc' : 'desc')
            }
        },

        methods: {
            /**
             *
             * Ordenar registros
             *
             */
            setOrderBy(key) {
                this.orderBy = {
                    key,
                    type: !this.orderBy.type
                }
            },
            /**
             * Remover registro do banco de dados
             *
             * @param event
             * @param item
             * @param index
             */
            trash(event, item, index) {
                if(confirm('Tem certeza que deseja remover esse registro?')) {
                    let tr = $(event.path[3]);
                    tr.fadeOut({
                        duration: 300,
                        start() {
                            $(this).addClass('animated fadeOutUp');
                        },
                        fail() {
                            $(this).removeClass('animated fadeOutUp').addClass('animated fadeInUp');
                        },
                        done: () => {
                            axios.delete('/dashboard/newsletter/' + item.id)
                                .then(response => {
                                    if(response.status === 204) {
                                        // remover item da lista
                                        tr.remove();

                                        // atualiza tamanho da box
                                        this.updateHeightBox();
                                    }
                                })
                        }
                    })
                }
            },
            /**
             *
             * Carregar lista de registros
             *
             */
            ready() {
                this.list = [];
                this.$loading(200);
                let tbody = document.querySelector('#manage-newsletter-table tbody');

                axios.get('/dashboard/newsletter/list')
                    .then(response => {
                        const data = this.list = response.data.data
                        const element = $(tbody.children[0]);
                        if(typeof data === "object" && data.length > 0) {
                            this.list = data;
                            element.fadeOut(200);
                        }else{
                            element.fadeIn(200)
                        }
                    })
            },
            /**
             * Atualizar largura da tabela de acordo com os registros
             *
             * @param height
             * @param remove
             */
            updateHeightBox(height = '', remove = false) {
                const table = document.querySelector('#manage-newsletter-table');
                const panel = $('#manage-newsletter');

                // obtem tamaho para ser redirecionado
                let size = height ? height : table.clientHeight;

                if(remove) {
                    // auto-calcular tamanho
                    size = table.clientHeight;
                }

                panel.animate({height: size + 'px'}, 1000)
            }
        },

        mounted() {
            // carregar lista de newsletter
            this.ready();
        },

        updated() {
            // atualiza tamanho da box
            this.updateHeightBox();
        }
    }
</script>