<template>
    <div class="panel panel-default">

        <h3 class="panel-title">
            Lista pré-cadastros

            <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-success" @click="ready">
                    <i class="fa fa-refresh"></i> Atualizar
                </button>
            </div>
        </h3>

        <div class="panel-body table-responsive" id="preRegistrations">
            <!-- table-responsive -->
            <table class="table table-stripped" id="list-pre-registrations">
                <thead>
                    <tr>
                        <td width="5%">
                            <a href="#" @click.prevent="setOrderBy('id')">
                                Id
                                <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'id' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'id' && !orderBy.type,
                                        }"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" @click.prevent="setOrderBy('name')">
                                Nome/E-mail
                                <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'name' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'name' && !orderBy.type}">
                                    </span>
                            </a>
                        </td>
                        <td>
                            <a href="#" @click.prevent="setOrderBy('phone')">
                                Telefone
                                <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'phone' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'phone' && !orderBy.type}">
                                    </span>
                            </a>
                        </td>
                        <td>
                            <a href="#" @click.prevent="setOrderBy('subject')">
                                Assunto
                                <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'subject' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'subject' && !orderBy.type}">
                                    </span>
                            </a>
                        </td>
                        <td>
                            <a href="#" @click.prevent="setOrderBy('status')">
                                Status
                                <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'status' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'status' && !orderBy.type}">
                                    </span>
                            </a>
                        </td>
                        <td width="14%">
                            <a href="#" @click.prevent="setOrderBy('created_at')">
                                Criação
                                <span class="fa fa-sort" :class="{
                                        'fa-sort-down': orderBy.key === 'created_at' && orderBy.type,
                                        'fa-sort-up': orderBy.key === 'created_at' && !orderBy.type}">
                                    </span>
                            </a>
                        </td>
                        <td width="15%" class="text-right">Ações</td>
                    </tr>
                </thead>
                <tbody>
                <!-- loop -->
                <tr v-for="(item,index) in listFiltered" :id="'item_' + item.id">
                    <td>
                        <div class="checkbox">
                            <input :id="'pre_registration_' + index" type="checkbox" v-model="selected" :value="index" :disabled="item.status === 'accept'">
                            <label :for="'pre_registration_' + index">
                                <b>{{ item.id }}</b>
                            </label>
                        </div>
                    </td>
                    <td>{{ item.name }} <br> <a :href="'mailto:'+item.email">{{ item.email }}</a></td>
                    <td>
                        <span v-if="!openEditor(item.id)">{{ item.phone }}</span>
                        <input type="text" class="form-control form-control-sm" placeholder="Telefone" v-model="editor[getEditorIndex(item.id)].phone" v-else>
                    </td>
                    <td>{{ item.subject }}</td>
                    <td>
                        <span class="label" :class="{'label-warning': item.status === 'waiting', 'label-danger': item.status === 'reject', 'label-success': item.status === 'accept'}" v-if="!openEditor(item.id)">
                            {{ getStatusFormatted(item.status) }}
                        </span>

                        <select class="form-control form-control-sm" v-model="editor[getEditorIndex(item.id)].status" v-else>
                            <option value="" selected disabled>Selecione</option>
                            <option value="accept">Aprovar</option>
                            <option value="reject">Rejeitar</option>
                            <option value="waiting">Aguardando</option>
                        </select>
                    </td>
                    <td>{{ item.created_at }}</td>
                    <td class="text-right">
                        <div class="btn-group btn-group-xs">
                            <button @click="reservation=item" title="Informações" data-toggle="modal" data-target="#infoReservation" class="btn btn-default btn-icon">
                                <i class="fa fa-book"></i>
                            </button>
                            <button class="btn btn-primary btn-icon" @click="addItemEditor(item)" v-if="!openEditor(item.id)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-primary btn-icon" title="Salvar!" @click="update(item.id)" v-else>
                                <i class="fa fa-save"></i>
                            </button>
                            <a href="#" class="btn btn-xs btn-danger btn-icon" title="Remover" @click="trash($event,item.id)" :disabled="item.status === 'accept'">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                <!-- loop -->

                <!-- exibir caso não exista registros -->
                <tr style="display: none;" class="bg-info text-center">
                    <td colspan="7">
                        Não existem registros para serem exibidos
                    </td>
                </tr>
                <!-- exibir caso não exista registros -->
                </tbody>
            </table>

            <modal-reserva></modal-reserva>
            <!-- table-responsive -->
        </div>
        <!-- panel-body -->

        <div class="panel-footer">
            <div class="row">
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <button class="btn btn-sm btn-danger pull-right btn-icon" :disabled="selected.length === 0">
                        <i class="fa fa-remove"></i>
                        Remover selecionados
                    </button>
                </div>
                <!-- col-md-12 -->
            </div>
        </div>
    </div><!-- panel-default -->
</template>

<script>

    // Componentes
    import {SweetModal} from 'sweet-modal-vue'
    import ModalReserva from './ModalReserva'

    export default {
        name: "lista-reserva",

        components: {
            ModalReserva,
            SweetModal
        },

        data() {
            return {
                list: [],
                reservation: null,
                selected: [],
                editor: [],
                orderBy: {
                    key: 'name',
                    type: true
                }
            }
        },

        watch: {
            reservation(current) {
                this.$root.$emit('row', current);
            }
        },

        computed: {
            listFiltered() {
                return _.orderBy(this.list, this.orderBy.key, this.orderBy.type ? 'asc' : 'desc')
            }
        },

        methods: {
            /**
             * Obter posição do item no editor
             *
             * @param id
             */
            getEditorIndex(id) {
                return _.findIndex(this.editor, item => item.id === id)
            },
            /**
             *
             * Adicionar item na lista de editores
             *
             */
            addItemEditor(item) {
                if(!this.openEditor(item.id)) {
                    this.editor.push(item);
                }
            },
            /**
             * Verificar se editor será aberto
             *
             * @param id
             * @returns {boolean}
             */
            openEditor(id) {
                return this.getEditorIndex(id) > -1
            },
            /**
             * Atualizar registros
             *
             * @param id
             */
            update(id) {
                let index = this.getEditorIndex(id);
                let itemIndex = _.findIndex(this.list, item => item.id === id)
                let editor = this.editor[index];

                // remover da lista de editores abertos
                this.editor.splice(index, 1);
                let listItemUpdate = (changes) => {
                    _.set(this.list[itemIndex], _.keys(changes), _.values(changes))
                };

                this.$loading(300).then(() => {
                    axios.put('/services/pre-registration/' + id, editor)
                        .then(response => listItemUpdate(response.data.changes));
                });
            },
            /**
             * Formatar status
             *
             * @param status
             * @returns {*}
             */
            getStatusFormatted(status) {
                let st;
                switch (status) {
                    case 'accept': st = 'Aprovado'; break;
                    case 'reject': st = 'Recusado'; break;
                    case 'waiting': st = 'Aguardando'; break;
                }
                // console.log(status,st)
                return st ? st : status;
            },
            /**
             * Ordenar registro
             *
             * @param key
             */
            setOrderBy(key) {
                this.orderBy = {
                    key,
                    type: !this.orderBy.type
                }
            },
            /**
             *
             * Carregar lista de registros
             *
             */
            ready() {
                this.list = [];
                this.$loading(300);
                const tbody = document.querySelector('#list-pre-registrations tbody');

                axios.get('/services/pre-registration')
                    .then(response => {
                        if(typeof response.data.data === "object" && response.data.data.length > 0) {
                            // seta lista
                            this.list = response.data.data;
                            $(tbody.children[0]).fadeOut(200);
                        }else{
                            $(tbody.children[0]).fadeIn(200);
                        }
                    });
            },
            /**
             * Remoção simple de registro via botão de remoção
             *
             * @param event
             * @param id
             */
            trash(event, id) {
                if(confirm('Tem certeza que deseja remover esse registro?')) {
                    // remover registro
                    this.removeItemList(id);
                }
            },
            /**
             *
             * Remove vários registros
             *
             */
            removeMultiple() {
                if(confirm(`Tem certeza que deseja remover ${this.selected.length} item(s)?`)) {
                    // remover multiplos registros da lista
                    this.selected.forEach(id => this.removeItemList(id));
                }
            },
            /**
             *
             * Remove registro
             *
             */
            removeItemList(id) {
                let lista = document.querySelector('table#list-pre-registrations tbody');
                let tr = $(document.querySelector(`tr#item_${id}`));
                tr.fadeOut({
                    duration: 300,
                    start() {
                        $(this).addClass('animated slideOutUp')
                    },
                    fail() {
                        $(this).removeClass('animated slideOutUp').addClass('animated slideInUp');
                        alert('Algo deu errado!')
                    },
                    done: () => {
                        axios.delete('/services/pre-registration/'+id)
                            .then(response => {
                                // remover tr da lista
                                tr.remove();
                                // caso seja o ultimo registro
                                if(lista.children.length === 1) {
                                    $(lista.children[0]).fadeIn({
                                        duration: 300,
                                        start: () => {
                                            // atualizar tamanho da box
                                            this.updateHeightBox();
                                            // exibir mensagem de tablea vázia
                                            $(lista.children[0]).addClass('animated slideInUp').css({'font-size':'1.2em'})
                                        }
                                    })
                                }
                                // atualizar tamanho da box
                                this.updateHeightBox(null, true)
                            })
                    }
                });
            },
            /**
             * Redimenssionar tabela de acordo com sua altura.
             *
             * @param height
             * @param remove
             */
            updateHeightBox(height = '', remove = false) {
                const lista = document.querySelector('#list-pre-registrations');
                const panel = $('#preRegistrations');

                let size = height ? height : lista.clientHeight;

                if(remove) {
                    size = lista.clientHeight;
                }
                panel.animate({height: size + 'px'}, 400);
            }
        },

        created() {
            // this.$toastr("info", "Lista carregada com sucesso.")
        },

        mounted() {
            // Carregar lista de pre-cadastros
            this.ready();
        },

        updated() {
            // atualiza tamanho da tabela automaticamente
            this.updateHeightBox();
        }
    }
</script>

<style>
    #preRegistrations {
        height: 0px;
    }
</style>
