<template>
    <div class="row" id="myContainer">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        E-mails cadastrados

                        <div class="btn-group btn-group-sm pull-right">
                            <a href="/dashboard/newsletter/generate-list" class="btn btn-info" download>
                                <i class="fa fa-download"></i> Baixar Lista
                            </a>
                            <button class="btn btn-success" @click="ready">
                                <i class="fa fa-refresh"></i> Atualizar
                            </button>
                        </div>
                    </h3>
                </div>
                <div class="panel-body" id="manage-newsletter">
                    <b-table
                            responsive
                            show-empty
                            empty-text="Nenhum email foi cadastrado no newslleter."
                            id="manage-newsletter-table"
                            stacked="md"
                            :items="list"
                            :fields="dataTable.fields"
                            :current-page="dataTable.currentPage"
                            :per-page="dataTable.perPage"
                            :filter="dataTable.filter"
                            :sort-by.sync="dataTable.sortBy"
                            :sort-desc.sync="dataTable.sortDesc"
                            @filtered="onFiltered">
                        <template slot="status" slot-scope="row">
                             <span class="label" :class="{
                                  'label-info': row.item.not_formatted.status === 'waiting',
                                  'label-success': row.item.not_formatted.status === 'active',
                                  'label-error': row.item.not_formatted.status === 'cancel'}">
                                 {{ row.value }}
                             </span>
                        </template>
                        <template slot="actions" slot-scope="row">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-danger" data-toggle="tooltip" data-title="Remover Email?" @click="trash($event, row.item, row.index)">
                                    <i class="fa fa-trash"></i> Remover
                                </button>
                            </div>
                        </template>
                    </b-table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <b-pagination :total-rows="dataTable.totalRows" :per-page="dataTable.perPage" v-model="dataTable.currentPage" class="my-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "manager-newsletter",

        data() {
            return {
                list: [],
                dataTable: {
                    fields: [
                        {key: 'id', label: '#', sortable: true},
                        {key: 'name', label: 'Nome Completo', sortable: true},
                        {key: 'phone', label: 'Telefone', sortable: true},
                        {key: 'email', label: 'Email', sortable: true},
                        {key: 'status', label: 'Status', sortable: true},
                        {key: 'actions', label: '<Opções>'}
                    ],
                    currentPage: 1,
                    perPage: 10,
                    totalRows: 0,
                    pageOptions: [ 5, 10, 15 ],
                    sortBy: null,
                    sortDesc: false,
                    filter: null
                }
            }
        },

        computed: {
            sortOptions () {
                return this.dataTable.fields
                    .filter(f => f.sortable)
                    .map(f => { return { text: f.label, value: f.key } })
            }
        },

        watch: {
            list(items) {
                if(items !== undefined) {
                    this.dataTable.totalRows = items.length
                }
            }
        },

        methods: {
            onFiltered(filteredItems) {
                this.dataTable.totalRows = filteredItems.length;
                this.dataTable.currentPage = 1;
            },
            /**
             * Remover registro do banco de dados
             *
             * @param event
             * @param item
             * @param index
             */
            trash(event, item, index) {
                if(confirm('Tem certeza que deseja remover esse registro?')) {
                    axios.delete('/dashboard/newsletter/' + item.id)
                        .then(response => {
                            this.$toastr('success',{
                                title: 'Registro removido',
                                msg: 'E-mail deletado com sucesso!',
                                onClosed: () => this.list.splice(index, 1) // remove registro da lista
                            })
                        })
                }
            },
            /**
             *
             * Carregar lista de registros
             *
             */
            ready() {
                let data;
                let table = document.querySelector('#manage-newsletter-table');
                this.list = [];
                // loading
                this.$loading(200)
                axios.get('/dashboard/newsletter/list')
                    .then(response => {
                        this.list = response.data.data;
                    });
            },
            /**
             * Atualizar largura da tabela de acordo com os registros
             *
             * @param height
             * @param remove
             */
            updateHeightBox(height = '', remove = false) {
                const table = document.querySelector('#manage-newsletter-table');
                const panel = $('#manage-newsletter');

                // obtem tamaho para ser redirecionado
                let size = height ? height : table.clientHeight;

                if(remove) {
                    // auto-calcular tamanho
                    size = table.clientHeight;
                }

                panel.animate({height: size + 'px'}, 500)
            }
        },

        mounted() {
            // carregar registros
            this.ready();
        },

        updated: function () {
            // atualiza tamanho da box com animação
            this.updateHeightBox();

            // tooltips
            if ($('[data-toggle="tooltip"]').length > 0) {
                $('[data-toggle="tooltip"]').tooltip();
            }
        }
    }
</script>