/* ----------------------------------------------------------------
Custom CSS

Add all your Custom Styled CSS here for New Styles or
Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
.bgbreadcrumb{
	width: 100%;
    background: #FFF url(../images/banner_breadcrumb.png) no-repeat right 90px / 1000px;
    display: block;
    z-index: 999;
    margin: 0;
    float: none;
    position: relative;
}
@media screen and (max-width:1200px){
	.bgbreadcrumb{
		background: #FFF url(../images/banner_breadcrumb.png) no-repeat right 90px / 1000px;
	}
}
@media screen and (max-width:500px){
	.bgbreadcrumb{
		background: none;
		background-color: #FFF;
	}
}
.section.light {
	background: rgba(243, 243, 243, 0.5);
	margin: 0;
	padding: 80px 0 100px 0;
}


.text-primary{
	color:#cbab62 !important;
} 
.text-white{
	color:#FFF !important;
}

.section-primary{
	background:#cbab62 !important;
	color: #fff;
}
.section-primary .feature-box h3{
	color: #333;
}
.section-primary .feature-box p{
	color: #111;
}

.section-dark{
	background: #111 !important;
}


.revo-slider-emphasis-text {
	font-size: 64px;
	font-weight: 700;
	letter-spacing: -1px;
	font-family: 'Poppins', sans-serif;
	padding: 15px 20px;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	width: 650px;
	text-align: center;
	line-height: 1.5;
}

.revo-slider-caps-text {
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 3px;
	font-family: 'Poppins', sans-serif;
}

.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }


.boxNewslleter {
	position: relative;
	background: #FFF;
	float: left;
	width: 100%;
	padding: 10px 20px;
}

.boxNewslleter .boxs{
	margin:0.5%;
}

.boxNewslleter .box_one {
	width: 24%;
	float: left;
}
.boxNewslleter .box_two {
	width: 24%;
	float: left;
}
.boxNewslleter .box_three {
	width: 49%;
	float: left;
}
@media screen and (max-width:991px){
	.boxNewslleter .box_one {
		width: 99%;
	}
	.boxNewslleter .box_two{
		width: 99%;
	}
	.boxNewslleter .box_three{
		width: 99%;
	}
}
.sombra-div {
	width: 100%;
	height: 48px;
	float: left;
	background: url(/galerias/sombra-div.png) no-repeat center center;
	position: relative;
	bottom: 0;
	z-index: 9;
}




/* NEW TEMPLATE */

.background-section-sobre{
	padding: 100px 0 50px 0;
	background: #282828 url(/front/images/banner_sobre.png) no-repeat center 35%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background-depoimentos-clientes{
	color:#FFF;
	padding: 130px 0;
	background: #000 url(/front/images/banner_depoimentos.png) no-repeat center 35%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.background-depoimentos-clientes h1{
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 45px;
	line-height: 46px;
	margin: 0;
}


#footer .footer-widgets-wrap ul.footer-phones {
	width: 100%;
}
#footer .footer-widgets-wrap ul.footer-phones li {
	display: inline-block;
	padding: 0 5px;
}
#footer .footer-widgets-wrap ul.footer-phones li:first-child {
	padding: 0 5px 0 0;
}
#footer .footer-widgets-wrap .widget.widget_links ul li ul {
	display: none;
}



#oc-areas .feature-box h3{
	text-transform: uppercase;
	font-size: 19px;
}
#oc-areas .feature-box h3 a{
	color:#2f2f2f;
}
#oc-areas .feature-box h3 a:hover{
	color: #cbab62;
}
#oc-areas .feature-box p, #oc-areas .feature-box.media-box p{
	margin: 5px 0 0 0;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

#oc-areas .feature-box.media-box .fbox-media{
	margin:0 0 10px;
}


#oc-areas .heading-block h2,
#oc-diferencias .heading-block h2 {
	font-size: 45px;
}

#oc-diferencias .heading-block.center > span,
#oc-diferencias .heading-block.title-center > span,
#oc-diferencias .center .heading-block > span{
	font-size: 18px;
	font-weight: 400;
	color: #333;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

#oc-diferencias .feature-box.fbox-center p {
	color: #111;
}

#oc-diferencias .col-md-3 > .feature-box.fbox-center .fbox-icon {
	width: 116px;
}
#oc-diferencias .col-md-3 + .col-md-3 .feature-box.fbox-center .fbox-icon {
	width: 85px;
}
#oc-diferencias .col-md-3 + .col-md-3 + .col-md-3 + .col-md-3 .feature-box.fbox-center .fbox-icon {
	width: 102px;
}


#oc-escritorio .description{
	width: 100%;
	float: left;
}
#oc-escritorio .description h1,
#oc-escritorio .description h2,
#oc-escritorio .description h3,
#oc-escritorio .description h4,
#oc-escritorio .description h5,
#oc-escritorio .description h6{
	margin: 0;
}


#oc-escritorio p{
	font-size: 16px;
}

#oc-escritorio .linksoffices {
	width: 100%;
	float: left;
	position: relative;
}
#oc-escritorio .linksoffices::after {
	content: '';
	width: 100%;
	height: 1px;
	background: #e4e4e4;
	float: left;
	position: absolute;
	top: 38px;
	z-index: 9;
}
#oc-escritorio .linksoffices ul {
	margin: 0 auto;
	text-align: center;
}
#oc-escritorio .linksoffices ul li {
	display: inline-block;
	background: #FFF;
	padding: 10px 10px 10px 25px;
	position: relative;
	z-index: 99;
}
#oc-escritorio .linksoffices ul li:last-child {
	margin: 0 0 0 -5px;
	padding: 10px 25px 10px 10px;
}

#oc-escritorio-gallery .fslider .slider-wrap {
    width: 80%;
    float: left;
}
#oc-escritorio-gallery .flex-control-nav.flex-control-thumbs{
	float: left;
    width: calc(20% - 30px);
    margin: 0 0 0 20px !important;
}
#oc-escritorio-gallery .flex-control-nav.flex-control-thumbs li,
#oc-escritorio-gallery .flex-control-nav.flex-control-thumbs li img {
	display: block;
	width: 100% !important;
	height: auto !important;
}



#oc-professionais .team-content > ul > li:before {
    content: '• ';
    padding: 0 5px 0 0;
}



#oc-actuations .feature-box h3{
	margin: 0 0 10px 0;
}
#oc-actuations .feature-box p {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}


#oc-contact .feature-box h3 {
    font-size: 20px;
}
#oc-contact .feature-box h3 span.subtitle {
    font-size: 17px;
}


.section_escritorio h1 {
	color: #FFF;
	font-size: 63px;
	line-height: 56px;
	margin: 5px 0 20px 0;
}
.section_escritorio h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #cbab62;
	font-size: 20px;
	margin: 0;
	padding: 0;
}
.section_escritorio p {
	font-size: 14px;
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.5px;
}



.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}